# Exemplo de variáveis de ambiente para desenvolvimento
DEV=True
AUSTA_BD_ORACLE_DEV=host.example.com,1521,ORCL
BD_USUARIO=
BD_SENHA=
UNIDADE=Hospital Austa
PROJETO=Austa Autorizacao
ID_UNIDADE=1001
ID_PROJETO=3
RPA_SCRIPT_NAME=HOS_Austa_AutorizacaoPre
USERNAME=user
CAMINHO_PADRAO=C:\IBMRPA\Hospital\Austa_RepasseMedico
CAMINHO_CHROME_DRIVER=C:\ProjetosPython\chromedriver.exe
CAMINHO_REDE_ANEXO=intensicare\robo.rpa
SENHA_REDE_ANEXO=SENHA@123
ORACLE_INSTANT_CLIENT_DIR = 'C:\instantclient_23_9'





